check process {{app.name}} with pidfile {{app_home}}/{{app.name}}/.app/pid
  start program "/usr/bin/sudo -u {{app_user}} {{app_binary}} -C {{app_home}}/{{app.name}} start"
  stop program "/usr/bin/sudo -u {{app_user}} {{app_binary}} -C {{app_home}}/{{app.name}} stop"

if 5 restarts within 5 cycles then timeout
